extends layout

block content
    .col-sm-8.main-section.text-center
        h2.float-left Add product
        form.col-12(action="/product/add" method="POST")
            .form-group
                input.form-control(type="text" placeholder="Product name" name="title")
            .form-group
                input.form-control(type="text" placeholder="Image url" name="image")
            .form-group
                textarea.form-control(placeholder="Description" rows="10" style="width:100%;" name="description")
            .form-group
                input.form-control(type="number" name="price" step="0.01" placeholder="Price")
            button.btn.btn-success(type="submit") Add
            if (errors != undefined) 
                each err in errors
                    .alert.alert-danger=err.msg
