doctype html
html
    head
        title= title
        script(type="text/javascript" src="/jquery/jquery.js")
        script(type="text/javascript" src="/bootstrap/bootstrap.js")
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        include ./includes/nav
        .container
            block content
