extends layout

block content
  .col-sm-8.main-section.text-center
    h2.float-left Sign Up
    form.col-12
      .form-group
        input.form-control(type="text" placeholder="Enter Username")
      .form-group
        input.form-control(type="password" placeholder="Enter Password")
      button.btn.btn-success(type="submit") Register
