extends layout

mixin user(id, usr, adm)
    th(scope="row")=id
    td=usr
    td=adm

block content
    .row
        table.table
            tr
                th Id
                th Username
                th superuser?
                each user in users 
                    tr
                        +user(user.id, user.username, user.admin)